@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
 
:root { 
   --purple-3:#421769;
   --english-purple: #564A60;
   --purple-4:#d154e4af; 
     --purple-1:#c79dd7;  
     --dark-maroon-pink:#A82C60;
     --maroon-pink:#C22164;
     --radical-pink:#FF2A63;
     --brick-pink:#FF5B85;
   --darker-pink:#ef4f91;
   --baby-pink: #F8C5C6; 
   
   --blue-munsell: #448e9b;
   --carolina-blue: #429DC8;
   --maximmum-blue: #46B7D6;
   --dark-sky-blue: #71bbcc;
   --light-steel-blue: #AEC0D0;
 
   --blue-purple: #A3A4E5;    
   --azure-blue: #3A86FF;  
   --navy-blue: #190cacc0;     
   --dark-blue:#363b74;
    --onyx :#3C3D49;

    --dark-slate-gray: #3E4E50;
    --apricot: #FACFAD;
    --mellow-apricot: #F8BD7F;
    /* --tumble-weed: #F2AA7E;  */
    --sandy-brown: #F5AC72;
    --cafe-noir: #513C27;

    --orange-pantone: #FB5607;
    --amber: #FFBE0B;    
    --pink: #fd9294; 
    --winter-sky-pink: #FF006E;
    --han-purple: #400e85;
    
}   

   /* ---------------------------------------------------------------------------------- */
   .first,
   :root:has(#first:checked) {
     --navbar:var(--purple-3);
     --navLinks:rgba(81, 60, 39, 0.2);  
   
     --primaryBackground:var(--purple-3);
     --primaryH1:var(--purple-1);
     --primaryText:var(var(--baby-pink));
   
     --secBackground:var(--han-purple);
     --secH1:var(--blue-purple);
     --secText:white;
     --secText-smaller:var(--baby-pink);  
   
     --tertBackground:var(--purple-1);
     --tertH1:var(--han-purple);
     --tertText:var(--onyx);
   
     --background-image:  linear-gradient(to bottom right,
     rgba(25, 12, 172, 0.377),
     rgba(209, 84, 228, 0.404)),url("../images/background-1.jpg");
     
    --gradient:linear-gradient(
      to right,
     var(--purple-1),
     var(--darker-pink),  
     var(--purple-4),
     var(--purple-3),
     var(--english-purple),
     var(--purple-3),
     var(--purple-4),
     var(--darker-pink),
     var(--purple-1)
   
   ); 
   }
   
   .second,
   :root:has(#second:checked) {
     --navbar:var(--dark-slate-gray);
     --navLinks:rgba(81, 60, 39, 0.2);  
   
     --primaryBackground:var(--dark-slate-gray);
     --primaryH1:var(--sandy-brown);
     --primaryText:var(var(--apricot));
     /* --primaryH1:var(--mellow-apricot); */
   
     --secBackground:var(--cafe-noir);
     --secH1:var(--mellow-apricot);
     --secText:white;
    --secText-smaller:var(--apricot);  
   
     /* --tertBackground-color-2:var(--sandy-brown); */
     --tertBackground:var(--apricot);
     --tertH1:var(--cafe-noir);
     --tertText:var(--dark-slate-gray);
   
     --background-image: linear-gradient(to bottom right,
     rgba(62, 78, 80,0.486),
     rgba(248, 189, 127,0.5)),url("../images/background2.jpg");
     
    --gradient:linear-gradient(
      to right,
      var(--apricot),
      var(--mellow-apricot),
      var(--sandy-brown),
      var(--cafe-noir),
      var(--dark-slate-gray),
      var(--mellow-apricot),
      var(--apricot)
    );
   }
   
   .third,
   :root:has(#third:checked) {
      --onyx :rgb(60, 61, 73);
      --navbar:var(--dark-blue);
      --navLinks:rgba(60, 61, 73, 0.2);  
    
      --primaryBackground:var(--dark-blue);
      --primaryH1:var(--maximmum-blue);
      --primaryText:white;
    
      --secBackground:var(--blue-munsell);
      --secH1:var(--navy-blue);
      --secText:white;
     --secText-smaller:var(--dark-sky-blue);  
     
      --tertBackground:var(--light-steel-blue);
      --tertH1:var(--navy-blue);
      --tertText:var(--carolina-blue);
      
      
      --background-image: linear-gradient(
        to bottom right,
        rgba(68, 142, 155, 0.486),
        rgba(113, 187, 204, 0.5)),
       url("../images/background3.jpg");
   
       --gradient:linear-gradient(
         to right,
         var(--light-steel-blue),
         var(--dark-sky-blue),
         var(--maximmum-blue),
         var(--light-steel-blue),
         var(--maximmum-blue),
         var(--dark-sky-blue),
         var(--light-steel-blue)
       );
   }
   
   .fourth,
   :root:has(#fourth:checked) {
     --navbar:var(--english-purple);
     --navLinks:rgba(97, 67, 28, 0.2);  
   
     --primaryBackground:var(--english-purple);
     --primaryH1:var(--amber);
     --primaryText:var(--brink-pink);
     
     --secBackground:var(--brick-pink);
     --secH1:var(--maroon-pink);
     --secText:white;
    --secText-smaller:var(--baby-pink);  
    
     --tertBackground:var(--pink);
     --tertH1:var(--winter-sky-pink);
     --tertText:var(--han-purple);
     
     --background-image: linear-gradient(
       to bottom right,
       rgba(209, 84, 228, 0.486),
       rgba(239, 79, 145, 0.5)),
      url("../images/background4.jpg");
   
      --gradient:linear-gradient(
        to right,
        var(--winter-sky-pink),
        var(--pink),
        var(--amber),
        var(--orange-pantone),
        var(--amber),
        var(--pink),
        var(--winter-sky-pink)
      );
   }
   /* ------------------------------------------------------------------- */
   
*{
    padding:0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
a {
    color: black;
    text-decoration: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
@keyframes gradient {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}
@keyframes wave-animation {
  0% {
  transform: rotate( 0.0deg)
  }
  10% {
  transform: rotate(14.0deg)
  }
  20% {
  transform: rotate(-8.0deg)
  }
  30% {
  transform: rotate(14.0deg)
  }
  40% {
  transform: rotate(-4.0deg)
  }
  50% {
  transform: rotate(10.0deg)
  }
  60% {
  transform: rotate( 0.0deg)
  }
  100% {
  transform: rotate( 0.0deg)
  }
  }
  @keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.visually-hidden {
  clip:rect(0 0 0 0);
  clip-path:inset(50%);
  height:1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width:1px;
}

.theme-container {
  position: fixed;
  transform:translateY(100px);
  z-index: 1000;
}
.controls, .theme-picker > fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #fff;
  width: 15px;
  padding:1rem;
  margin-inline: auto;
  border-radius: 0 1rem 1rem 0;
}
.theme-picker input[type="radio"] {
  appearance: none;
  width:0.75rem;
  height:0.75rem;
  outline-offset: 3px;
  outline:2px solid var(--primaryBackground, currentColor);
  border-radius: 50%;
}
.theme-picker input[type="radio"]:checked {
  background-color: var(--primaryH1);
}
input[type="radio"]#first {
  --primaryBackground:var(--purple-3);
  --primaryH1:var(--purple-1);

}
input[type="radio"]#second {
  --primaryBackground:var(--dark-slate-gray);
  --primaryH1:var(--sandy-brown);
}
input[type="radio"]#third {
  --primaryBackground:var(--onyx);
  --primaryH1:var(--azure-blue);
}
input[type="radio"]#fourth {
  --primaryBackground:var(--english-purple);
  --primaryH1:var(--pink);
 
}
/* ------------------------------------------------------------------ */
.logo {
    padding-left: 2rem;
}
.pic-background {
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.glassmorphism {
  /* for glassmorphism effect */  
  background: rgba(255,255,255,0.1);
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 10px;
  border-top:1px solid rgba(255,255,255,0.5);
  border-left:1px solid rgba(255,255,255,0.5);
  border-bottom: 2.5px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(5px);
}
header {
  width:100%;
  top:0;
  border-radius: 0 10px 10px 0;
}
.navbar {
  color: white;
  width: 100%;
   display: flex;
   justify-content: space-around;
   align-items: center;
   min-height: 9vh;
}
nav.navbar ul li a {
  position: relative;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
nav.navbar ul li a:after {
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 2px;
}
nav.navbar ul li a:hover:after {
  width: 100%;
}

.nav-links li {
    list-style: none;
}
.nav-links a{
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 17px;
    color: #f8f8f8;
}
.burger {
    display: none;
}
.burger div{
    width:25px;
    height:3px;
    border-radius: 1.5px;
    background-color:var(--navbar);
    margin:5px;
    transition: all ease 0.45s ;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

/* hero section */

.pic-background {
  height: max-content;
}
.intro-container {
    line-height: 1.0;
  }
.hello{
  display: inline-block;
  animation-name: wave-animation;
  animation-duration: 3.0s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}  
.intro{
  font-size: 3.3rem;
  line-height: 1.10;
  font-weight: 450;
  font-style: italic;
}
span.name {
  font-size: 5rem;
  font-weight: 570;
  font-family: 'Rouge Script', cursive;
  white-space: nowrap;
  transition: all 1s;
}
.gradient-effect {
  animation: gradient 3s linear infinite;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-size: 200%;  
}
span.name:hover {
  animation: gradient 3s linear infinite;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-size: 200%;  
}

.the-nav-title .name {
  font-size: 2.75rem;
}

#hero-container {
  display: flex;
  align-items: center;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  min-width: 300px; 
}
.occupation {
  padding: 30px 0 35px 0;
  font-size: 2.3rem;
}
.all-btns {
  display:flex;
  flex: column;
  
}
.btn {
  margin: 0 1rem 2rem 0;
  width: min-content ;
  height: 3rem;
  width: 6rem;
}
.hero-btn {
  font-weight: 700;
  color:var(--tertH1);
  background-color: var(--tertBackground);

  border-color: white;  
  margin:1rem 1rem;
  height: 3rem;
  width:6rem;
  box-shadow: 7px 10px 50px rgba(0, 0, 0,0.5) ;
  transition: all ease 0.5s;
}
.hero-btn:hover {
  font-weight: 700;
  color:var(--primaryH1);
  border-color: white;
  background-color: white;
}
.content {
  display: flex;
  min-height: 100vh;
  color: white;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: 80vw;
  margin: 0 95px;
  align-items: center;
  justify-content: space-around;
  }
.about-text{
  flex-grow: 1;
  flex-shrink: 1;
  width:75%;
  }

span.name {
  line-height: 1.125;
  margin-bottom: 0.5rem;
  font-size: 6.5rem;
  font-weight: 570;
  white-space: nowrap;
}

.side, .about-side {
  max-height: 20rem;
  margin-left: 70px;
  background-color:transparent;

}
.side {
  background-image: radial-gradient(white 10%, transparent 11%);
  background-size: 30px 30px;
  background-position: center;  
}

.picture {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20rem;
}

  .picture-image {
    display: inline-block;
    width: 100%;
    height: auto;
  }
  
.about-container, .project-display-container {
  padding: 55px;
  height: max-content;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* about-me section */
.about-container {
background-color: #f8f9fa;
flex-direction: row;
}

.about-title, .timeline-title {
  padding-bottom: 35px;
}
.heading {
  color: var(--tertH1);
  text-transform: capitalize;
  font-size: 50px;
  white-space: nowrap;
  background-size: 200%;  
}
.about-me, .time-line{
  color: var(--tertH1);
}
.about-pic{
  width:25rem;
}

/* projects-section */

.project-display-container{
  width: 90vw;
  position: relative;
  background-color: var(--secBackground);
}
.custom-shape-divider-top-1670476997 {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1670476997 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 113px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1670476997 .shape-fill {
  fill: #f8f9fa;
}

.project-section-title {
  padding-bottom: 40px;
}

.project-heading {
  color:var(--primaryH1);
  padding-bottom:35px;
}
.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: max-content;
}

/* Project Container */

.card {
  width: 80%;
  height: 17rem;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional, .card.secondary .additional {
  position: absolute;
  width: 20%;
  height: 100%;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card .additional {
  background:var(--primaryBackground);
}

.card.secondary .additional {
  background:var(--tertBackground);
}

.card .additional:hover {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .image-card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  float: left;
}

.card .additional .image-card i {
  font-size: 10rem;
  padding-left: 9%;
}

.card .additional .image-card svg,.card.secondary .additional .image-card svg {
  padding-left: 10%;
  height: 150px;
  width: 150px;
}
.card .additional .image-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .more-info {
  width: 60vw;
  float: left;
  position: absolute;
  left: 20vw;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}
.card.secondary .additional .stats,
.card.secondary .additional .more-info h1 {
  color: var(--tertH1);
}

.card .additional .coords-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card .additional .coords-container .coords {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.coord-items {
  padding-left: 15px;
}

.card.secondary .additional .coords {
  color: var(--secText);
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats,
.card .general .stats {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}
.card .general .stats {
  color: #000;
}

.card .additional .stats > div,
.card .general .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats .project-link i,
 .card .general .stats .project-link i  {
  display: block;
}

.card .additional .stats div.title,
.card .general .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .general {
  width: 60vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20vw;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  bottom: 5rem;
  font-size: 0.9em;
}

/* Timeline Section */

.timeline-section {
  padding-top: 45px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#timeline-container {
  position: relative;
  /* max-width: 920px; */
  width: 87%;
  padding: 0 auto;
}
#timeline-container .timeline-start,
#timeline-container .timeline-end {
  display: table;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  background: var(--primaryBackground);
  padding: 15px 23px;
  color: var(--primaryH1);
  max-width: 5%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
#timeline-container .conference-center-line {
  position: absolute;
  width: 3px;
  height: 86%;
  left: 49.8%;
  /* margin-left: -2px; */
  background: var(--primaryBackground);
}
#timeline-container .timeline-container-content {
  padding-top: 67px;
  padding-bottom: 67px;
}
.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

.job-heading {
  color: var(--primaryBackground);
  font-size: 18px;
}

.timeline-article .content-left-container,
.timeline-article .content-right-container {
  max-width: 44%;
  width: 100%;
}

.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: auto;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.03);
  padding: 27px 25px;
}

.timeline-article p {
  margin: 0 0 0 60px;
  padding: 0;
  font-weight: 400;
  color: var(--tertText);
  font-size: 14px;
  line-height: 24px;
  position: relative;
}

.timeline-article p span.article-date {
  /* position: absolute; */
  font-weight: 300;
  display: block;
  font-size: 20px;
  top: 10px;
  left: -60px;
  color: var(--primaryBackground);
}

.timeline-article .content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.timeline-article .content-left-container {
  float: left;
}
.timeline-article .content-right-container {
  float: right;
}
.timeline-article .content-left:before,
.timeline-article .content-right:before{
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #fff;
}
.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px;
}
.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px;
}
.timeline-article .meta-date {
  /* position: absolute;
  left: 51.7%; */
  top: 20px;  
  transform: translateX(41.6vw);
  width: 31px;
  height: 31px;
  /* margin-left: -31px; */
  color: #fff;
  border-radius: 100%;
  background: var(--primaryBackground);
}
.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 900;
}
.timeline-article .meta-date .date {
  font-size: 30px;
  line-height: 40px;
}
.timeline-article .meta-date .month {
  font-size: 18px;
  line-height: 10px;
}
/*===== // Vertical Timeline =====*/

/*===== Resonsive Vertical Timeline =====*/
@media only screen and (max-width: 830px) {
  #timeline-container .timeline-start,
  #timeline-container .timeline-end {
    margin: 0;
  }
  #timeline-container .conference-center-line {
    margin-left: 0;
    left: 50px;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }
  .timeline-article .content-left-container,
  .timeline-article .content-right-container {
    max-width: 100%;
    width: auto;
    float: none;
    margin-left: 110px;
    min-height: 53px;
  }
  .timeline-article .content-left-container {
    margin-bottom: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    padding: 10px 25px;
    min-height: 65px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }
  .timeline-article p span.article-date {
    display: none;
  }
  
}

/* -------------------------------------------------------------------------------------- */

@media screen and (max-width:850px) {
body {
    overflow-x: hidden;
    position: relative;
}
/* theme picker */

.controls, .theme-picker > fieldset {
  padding: 0.55rem;
}
.theme-picker input[type="radio"] {
  outline-offset: 2px;
}
/* Nav section */

header {
    /* for glassmorphism effect */
  background: rgba(255,255,255,0.2);
  box-shadow: -15px 10px 50px rgba(0,0,0,0.3);
  border-bottom: 2.5px solid rgba(255,255,255,0.1);
  border-radius: 50px 0 50px 0;
}
.navbar {
  justify-content: space-between;
  padding-left: 3%;
}

.nav-links {
  /* for glassmorphism effect */
  background: var(--navbar);
  box-shadow: -15px 10px 50px rgba(0,0,0,0.3);
  border-left: 2.5px solid rgba(255,255,255,0.1);

  z-index: 1000 !important;
  position: fixed;
  right: 0px;
  height:100vh;
  top: 9.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width:50%;
  transform: translateX(100%);
  transition: transform 0.45s ease-in;
}

.nav-links li {
    opacity: 0;
}

.nav-links a {
    padding: 5px;
    color: white;
}

.burger {
    display: block;
    transform: translateX(-180%);
}

/* hero section */

.pic-background {
  height: max-content;
}

.content {
  margin:0 10vw;
}

.intro {
  width:max-content;
  font-size: 10vw;
  line-height: 1.5;
  font-weight: 450;
  font-style: italic;
}

span.name {
  font-size: 15vw;
}

.occupation {
  font-size: 8vw;
}

.hero-container{
    display: flex;
    flex-direction: column;
    height:max-content;
    background-position: 0%;
  }

  .content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: max-content; */
  }

  .all-btns {
    justify-content: space-around;
  }

  .side {
  /* width: 65vw; */
  margin: 35px 0;
  overflow: hidden;
  }

.picture {
  border-radius: 296370px;
  width: 300px;
}

.nav-active {
    transform: translateX(0%);
}

/* about section */

.about {
  padding:45px;
}

.about-container {
  flex-direction: column;
  padding: 35px;
}

.about-side {
  margin:30px 0 0 0;
  align-items: center;
  justify-content: center;
}

/* projects container */

.card , .card.secondary{
  width: 450px;
  height: 350px;
  border-radius: 6px;
}

.card .additional, .card.secondary .additional {
  position: absolute;
  width: 50px;
  height: 100%;
}
.card  .additional:hover,
 .card.secondary .additional:hover {
  width: 100%;
}
.card .additional .image-card, .card.secondary .additional .image-card {
  width: 50px;
  height: 100%;
}
.card .additional .more-info,.card.secondary .additional .more-info {
  width: 400px;
  height: 100%;
  left: 50px;
}
.card .additional .image-card i {
  font-size:2.5rem;
}
.card .general, .card.secondary .general, .card.secondary .general, .card.secondary .general {
  width: 400px;
  height: 100%;
  left: 50px;
  top:0;
}

/* Timeline section */

.timeline-article .meta-date {
  transform: translateX(36px);
}

.meta-date {
  visibility: hidden;
}

}
/* --------------------------------------------- */
