@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rouge+Script&display=swap');
 
:root { 
   --purple-3:#421769;
   --english-purple: #564A60;
   --purple-4:#d154e4af; 
     --purple-1:#c79dd7;  
     --dark-maroon-pink:#A82C60;
     --maroon-pink:#C22164;
     --radical-pink:#FF2A63;
     --brick-pink:#FF5B85;
   --darker-pink:#ef4f91;
   --baby-pink: #F8C5C6; 
   
   --blue-munsell: #448e9b;
   --carolina-blue: #429DC8;
   --maximmum-blue: #46B7D6;
   --dark-sky-blue: #71bbcc;
   --light-steel-blue: #a0d4ff;
 
   --blue-purple: #A3A4E5;    
   --azure-blue: #3A86FF;  
   --navy-blue: #190cacc0;     
   --dark-blue:#363b74;
    --onyx :#3C3D49;
    
    --dark-slate-gray: #3E4E50;
    --apricot: #FACFAD;
    --mellow-apricot: #F8BD7F;
    /* --tumble-weed: #F2AA7E;  */
    --sandy-brown: #F5AC72;
    --cafe-noir: #513C27;

    --orange-pantone: #FB5607;
    --amber: #FFBE0B;    
    --pink: #fd9294; 
    --winter-sky-pink: #FF006E;
    --han-purple: #400e85;
    
}   

   /* ---------------------------------------------------------------------------------- */
   .first,
   :root:has(#first:checked) {
     --navbar:var(--purple-3);
     --navLinks:rgba(81, 60, 39, 0.2);  
   
     --primaryBackground:var(--purple-3);
     --primaryH1:var(--purple-1);
     --primaryText:var(--baby-pink);
   
     --secBackground:var(--han-purple);
     --secH1:var(--blue-purple);
     --secText:white;
     --secText-smaller:var(--baby-pink);  
   
     --tertBackground:var(--purple-1);
     --tertH1:var(--han-purple);
     --tertText:var(--onyx);
   
     --background-image:  linear-gradient(to bottom right,
     rgba(25, 12, 172, 0.377),
     rgba(209, 84, 228, 0.404)),url("../images/b1.jpg");
     
    --gradient:linear-gradient(
      to right,
     var(--purple-1),
     var(--darker-pink),  
     var(--purple-4),
     var(--purple-3),
     var(--english-purple),
     var(--purple-3),
     var(--purple-4),
     var(--darker-pink),
     var(--purple-1)
   ); 
   }
   
   .second,
   :root:has(#second:checked) {
     --navbar:var(--dark-slate-gray);
     --navLinks:rgba(81, 60, 39, 0.2);  
   
     --primaryBackground:var(--dark-slate-gray);
     --primaryH1:var(--sandy-brown);
     --primaryText:var(--apricot);
     /* --primaryH1:var(--mellow-apricot); */
   
     --secBackground:var(--cafe-noir);
     --secH1:var(--mellow-apricot);
     --secText:white;
    --secText-smaller:var(--apricot);  
   
     /* --tertBackground-color-2:var(--sandy-brown); */
     --tertBackground:var(--apricot);
     --tertH1:var(--cafe-noir);
     --tertText:var(--dark-slate-gray);
   
     --background-image: linear-gradient(to bottom right,
     rgba(62, 78, 80,0.486),
     rgba(248, 189, 127,0.5)),url("../images/b22.jpg");
     
    --gradient:linear-gradient(
      to right,
      var(--apricot),
      var(--mellow-apricot),
      var(--sandy-brown),
      var(--cafe-noir),
      var(--dark-slate-gray),
      var(--mellow-apricot),
      var(--apricot)
    );
   }
   
   .third,
   :root:has(#third:checked) {
      --navbar:var(--dark-blue);
      --navLinks:rgba(60, 61, 73, 0.2);  
    
      --primaryBackground:var(--dark-blue);
      --primaryH1:var(--maximmum-blue);
      --primaryText:white;
    
      --secBackground:var(--blue-munsell);
      --secH1:var(--navy-blue);
      --secText:white;
     --secText-smaller:var(--dark-sky-blue);  
     
      --tertBackground:var(--light-steel-blue);
      --tertH1:var(--navy-blue);
      --tertText:var(--carolina-blue);
      
      
      --background-image: linear-gradient(
        to bottom right,
        rgba(68, 142, 155, 0.486),
        rgba(113, 187, 204, 0.5)),
       url("../images/b.jpg");
   
       --gradient:linear-gradient(
         to right,
         var(--light-steel-blue),
         var(--dark-sky-blue),
         var(--maximmum-blue),
         var(--light-steel-blue),
         var(--maximmum-blue),
         var(--dark-sky-blue),
         var(--light-steel-blue)
       );
   }
   
   .fourth,
   :root:has(#fourth:checked) {
     --navbar:var(--english-purple);
     --navLinks:rgba(97, 67, 28, 0.2);  
   
     --primaryBackground:var(--english-purple);
     --primaryH1:var(--amber);
     --primaryText:var(--brick-pink);
     
     --secBackground:var(--brick-pink);
     --secH1:var(--maroon-pink);
     --secText:white;
    --secText-smaller:var(--baby-pink);  
    
     --tertBackground:var(--pink);
     --tertH1:var(--winter-sky-pink);
     --tertText:var(--han-purple);
     
     --background-image: linear-gradient(
       to bottom right,
       rgba(209, 84, 228, 0.486),
       rgba(239, 79, 145, 0.5)),
      url("../images/b4.jpg");
   
      --gradient:linear-gradient(
        to right,
        var(--winter-sky-pink),
        var(--pink),
        var(--amber),
        var(--orange-pantone),
        var(--amber),
        var(--pink),
        var(--winter-sky-pink)
      );
   }
   /* ------------------------------------------------------------------- */
   
*{
    padding:0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F8F9FA;
}

a {
    color: black;
    text-decoration: none;
}

form input[type="submit"] {
	display: block;
	width: auto;
	margin: 10px auto;
	padding: 5px 10px;
	border: 3px solid #555;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
}

nav ul li {
  display: inline-block;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

.waves {
  position:relative;
  width: 100vw;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.waves-flipped {
  transform: rotate(180deg);
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}

@keyframes gradient {
  from {
    background-position: 0% center;
  }
  to {
    background-position: -200% center;
  }
}

@keyframes wave-animation {
  0% {  transform: rotate( 0.0deg)  }
  10% {  transform: rotate(14.0deg) }
  20% {  transform: rotate(-8.0deg)  }
  30% {  transform: rotate(14.0deg)  }
  40% {  transform: rotate(-4.0deg)  }
  50% {  transform: rotate(10.0deg)  }
  60% {  transform: rotate( 0.0deg)  }
  100% {  transform: rotate( 0.0deg)  }
  }

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(50px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  clip:rect(0 0 0 0);
  clip-path:inset(50%);
  height:1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width:1px;
}

@-webkit-keyframes loader-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
  }
}

@keyframes loader-inner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      border: 6px dashed var(--primaryBackground);

  }
  100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
      border: 6px dashed var(--tertBackground);
  }
}

@keyframes sk-scaleout {
  0% {
    width: 5px;
    height: 5px;
  }
  100% {
    height: 70px;
    width: 70px;
    opacity: 0;
  }
}

.loader-container {
  width: 30%;
  opacity: 1;
  display: inline-block;
  text-align: center;
  min-height: 215px;
  vertical-align: top;
  margin: 1%;
  background: #080915;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px 1px #103136 inset;
          box-shadow: 0px 0px 30px 1px #103136 inset;
}

.loader-wrapper {
  width: 100%;
  z-index: 1000000 !important;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 215px;
  vertical-align: top;
  background: #080915;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 30px 1px #103136 inset;
          box-shadow: 0px 0px 30px 1px #103136 inset;
}

.loader {
  position: relative;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
  vertical-align: middle;  
  border-radius: 100%;
  margin: 75px;
  display: flex;
  -webkit-transition: all 2.5s ease;
  -o-transition: all 2.5s ease;
  transition: all 2.5s ease;
  -webkit-animation: loader-inner 2.5s alternate infinite;
  animation: loader-inner 2.5s alternate infinite;
}

.spinner {
  position: relative;
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  background-color: var(--primaryText);
  z-index: 2;
  border-radius: 100%;
  animation: sk-scaleout 2.5s infinite alternate ease-in-out;
}

/* theme chooser */

.theme-container {
  position: fixed;
  transform:translateY(100px);
  z-index: 1000;
}
.controls, .theme-picker > fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background: #fff;
  width: 15px;
  padding:1rem;
  margin-inline: auto;
  border-radius: 0 1rem 1rem 0;
}
.theme-picker input[type="radio"] {
  appearance: none;
  width:0.75rem;
  height:0.75rem;
  outline-offset: 3px;
  outline:2px solid var(--primaryBackground, currentColor);
  border-radius: 50%;
}
.theme-picker input[type="radio"]:checked {
  background-color: var(--primaryH1);
}
input[type="radio"]#first {
  --primaryBackground:var(--purple-3);
  --primaryH1:var(--purple-1);

}
input[type="radio"]#second {
  --primaryBackground:var(--dark-slate-gray);
  --primaryH1:var(--sandy-brown);
}
input[type="radio"]#third {
  --primaryBackground:var(--onyx);
  --primaryH1:var(--azure-blue);
}
input[type="radio"]#fourth {
  --primaryBackground:var(--english-purple);
  --primaryH1:var(--pink);
 
}
/* ------------------------------------------------------------------ */
.logo {
    /* padding-left: 2rem; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.initials {
  width: 60px;
}

.pic-background {
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.glassmorphism {
  /* for glassmorphism effect */  
  background: rgba(255,255,255,0.1);
  box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
  border-radius: 10px;
  border-top:1px solid rgba(255,255,255,0.5);
  border-left:1px solid rgba(255,255,255,0.5);
  border-bottom: 2.5px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(65px);
}

.waves-container {
  width: 100vw;
}

header {
  width:100%;
  top:0;
  border-radius: 0 10px 10px 0;
  position: fixed;
  z-index: 99999;
}
.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 9vh;
   padding:0 20px;
}

nav.navbar ul li {
  margin-right: 10px;
}

nav.navbar ul li a {
  position: relative;
  
  color: var(--tertBackground);
}
.nav-links {
    display: flex;
    justify-content: space-between;
    width: 60%;
}
nav.navbar ul li a:after {
  position: absolute;
  bottom: -7px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: white;
  height: 2px;
}
nav.navbar ul li a:hover:after {
  width: 100%;
}

.nav-links li {
    list-style: none;
}
.nav-links a{
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 17px;
    color: #f8f8f8;
}
.burger {
    display: none;
}
.burger div{
    width:25px;
    height:3px;
    border-radius: 1.5px;
    background-color:var(--navbar);
    margin:5px;
    transition: all ease 0.45s ;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px,6px);

}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

/* hero section */

.pic-background {
  height: max-content;
}

.intro-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-container .links .link a i {
  color: white;
}

.hello{
  display: inline-block;
  animation-name: wave-animation;
  animation-duration: 3.0s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}  

.intro{
  font-size: 2rem;
  line-height: 0.9;
  font-weight: 450;
  font-style: italic;
  line-height: 1.125;
  display: inline;
}

span.name {
  font-size: 3.5rem;
  /* font-weight: 570; */
  font-family: 'Rouge Script', cursive;
  transition: all 1s;
  display: inline;
  line-height: 1.125;
  /* margin-bottom: 0.5rem; */
  white-space: nowrap;
}

.gradient-effect {
  animation: gradient 3s linear infinite;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-size: 200%;  
}

span.name:hover {
  animation: gradient 3s linear infinite;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  background-size: 200%;  
}


.carousel-container {
  position: relative;
}

.frame {
  width: max-content;
  height: 45px;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 45px;
  height: 45px;
}

.carousel .change_outer .change_inner {
  position: relative;
  -webkit-animation: rotate 8s ease-in-out infinite;
  animation: rotate 8s ease-in-out infinite;
}

.carousel .change_outer .element {
  display: block;
  text-align: left;
}

@keyframes rotate {
  0%, 20% {
    transform: translateY(0);
  }
  25%,45% {
    transform: translateY(-45px);
  }
  50%,70% {
    transform: translateY(-90px);
  }
  75%,95% {
    transform: translateY(-135px);
  }
  100% {
    transform: translateY(-180px);
  }
}

@-webkit-keyframes rotate {
  0%, 20% {
    transform: translateY(0);
  }
  25%,45% {
    transform: translateY(-45px);
  }
  50%,70% {
    transform: translateY(-90px);
  }
  75%,95% {
    transform: translateY(-135px);
  }
  100% {
    transform: translateY(-180px);
  }
}

#hero-container {
  display: flex;
  align-items: center;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  justify-content: center;
  min-width: 300px; 
}

.content {
  display: flex;
  height: max-content;
  color: white;
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  width: 80vw;
  margin: 0 65px;
  justify-content: space-around;
  }

.side, .about-side {
  max-height: 20rem;
  margin-left: 70px;
  background-color:transparent;

}
.side {
  background-image: radial-gradient(white 10%, transparent 11%);
  background-size: 30px 30px;
  background-position: center;  
}

.picture {
  flex-grow: 0;
  flex-shrink: 0;
  width: 20rem;
}

.picture-image {
  display: inline-block;
  width: 100%;
  height: auto;
}

.about-section, .project-display-section {
  height: max-content;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* about-me section */

.about-section {
  background-color: #f8f9fa;
  flex-direction: row;
  padding: 55px;
}

.about-title, .timeline-title {
  padding-bottom: 35px;
}

.heading {
  margin-bottom:35px;
  text-transform: capitalize;
  font-size: 50px;
  white-space: nowrap;
  background-size: 200%;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-text{
  flex-grow: 1;
  flex-shrink: 1;
  width:75%;
  font-size: 20px;
  line-height: 24px;
  }

  .all-btns {
    display:flex;
    padding: 45px 10px;
    justify-content: space-evenly;
  }
  
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    /* font-weight: 500; */
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  
  .btn {
    background-color: var(--primaryBackground);
    background-image: linear-gradient(315deg, var(--primaryH1) 0%, var(--primaryBackground) 74%);
    border: none;
    z-index: 1;
  }
  
  .btn:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: var(--primaryText);
    background-image: linear-gradient(315deg, white 0%, var(--primaryH1) 74%);
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }

  .btn:hover {
    color: black;
  }
  
  .btn:hover:after {
    top: 0;
    height: 100%;
  }
  
  .btn:active {
    top: 2px;
  }
  
.about-me, .time-line{
  color: var(--tertH1);
}

.about-pic{
  width:25rem;
}


.skills-section {
  width:80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.skills-container {
  display: flex;
  width: 90vw;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skills-type-container {
  margin-right: 30px;  
  width:clamp(14rem, 15%, 270px);
}
.skills-list {
  padding: 20px;
}
/* projects-section */

.project-display-section{
  width: 100vw;
  position: relative;
  background-color: var(--secBackground);
}

.project-section-title {
  padding-bottom: 40px;
}

.project-heading {
  color:var(--primaryH1);
  /* padding-bottom:35px; */
}


.projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: max-content;
}

/* Project Container */

.card {
  width: 80%;
  height: 17rem;
  background-color: #fff;
  background: linear-gradient(#f8f8f8, #fff);
  box-shadow: 0 8px 16px -8px rgba(0,0,0,0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional, .card.secondary .additional {
  position: absolute;
  width: 20%;
  height: 100%;
  transition: width 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card .additional {
  background:var(--primaryBackground);
}

.card.secondary .additional {
  background:var(--tertBackground);
}

.card .additional:hover {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional .image-card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  float: left;
}

.card .additional .image-card i {
  font-size: 10rem;
  padding-left: 9%;
}

/* .card .additional .image-card svg,.card.secondary .additional .image-card svg {
  padding-left: 10%;
  height: 150px;
  width: 150px;
} */
.card .additional .image-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .more-info {
  width: 60vw;
  float: left;
  position: absolute;
  left: 20vw;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #fff;
  margin-bottom: 0;
}
.card.secondary .additional .stats,
.card.secondary .additional .more-info h1 {
  color: var(--tertH1);
}

.card .additional .coords-container {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card .additional .coords-container .coords {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  color: #fff;
  font-size: 1rem;
}

.coord-items {
  padding-left: 15px;
}

.card.secondary .additional .coords {
  color: var(--secText);
}

.card .additional .coords span + span {
  float: right;
}

.card .additional .stats,
.card .general .stats {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #fff;
}
.card .general .stats {
  color: #000;
}

.card .additional .stats > div,
.card .general .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats .project-link i,
 .card .general .stats .project-link i  {
  display: block;
}

.card .additional .stats div.title,
.card .general .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .general {
  width: 60vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 20vw;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  bottom: 5rem;
  font-size: 0.9em;
}

/* Timeline Section */

.timeline-section {
  padding-top: 45px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timeline-container {
  margin: 0 auto;
  max-width: 750px;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  color: black;
}

.timeline__component {
  margin: 0 20px 20px 20px;
}

.timeline__component--bg {
  padding: 1.5em;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.timeline__component--bottom {
  margin-bottom: 0;
}

.timeline__middle {
  position: relative;
  background: var(--primaryBackground);
}

.timeline__point {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  background: var(--primaryH1);
  border-radius: 50%;
}

.timeline__point--bottom {
  top: initial;
  font-size:15px;
  bottom: -25px;
  height: 40px;
  width:40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline__date--right {
  text-align: right;
}

.timeline__title {
  margin: 0;
  font-size: 1.15em;
  font-weight: bold;
}

.timeline__paragraph {
  line-height: 1.5;
}

/* Contact Section */



.contact-section {
  background-color: var(--primaryBackground);  
  width: 100vw;
  position: relative;
  padding-bottom: 30px;

}

.contact-box {
  width: 80%;
  margin: 0 9%;
  display: flex;
  flex-wrap: wrap;
}

.contact-links, .contact-form-wrapper {
  width:40%;
  padding: 8% 5% 10% 5%;
}
  
.contact-links {
  background:url('../images/contact-us.jpg');
  border-radius: 10px 0 0 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.contact-form-wrapper {
  background-color: #ffffff8f;
  border-radius: 0 10px 10px 0;
}

.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* padding-top: 50px; */
}

.link {
  margin: 5px;
  cursor: pointer;

}

.link .fa, .link .fa-brands, .link .fa-solid{
	font-size: 1.8em;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: rgba(0, 0, 0, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.fa:hover,.link .fa-brands:hover, .fa-solid:hover
 .link .fa:active, .link .fa-brands:active,.fa-solid:active { 
  -webkit-transform: scale(1.1);
 -moz-transform: scale(1.1);
 -ms-transform: scale(1.1);
 -o-transform: scale(1.1);
 transform: scale(1.1); 
}


.form-item {
  position: relative;
}

.contact-label {
  position: absolute;
  top: 10px;
  left: 2%;
  color: #999;
  font-size: clamp(14px, 1.5vw, 18px);
  pointer-events: none;
  user-select: none;
}

.contact-input, .contact-textarea {
  width: 93%;
  outline: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: 8px;
  padding: 12px;
  font-size: clamp(15px, 1.5vw, 18px);
}

.contact-textarea {
  height:150px;
}

.contact-input:focus+.contact-label, 
.contact-input:valid+.contact-label, 
.contact-textarea:focus+.contact-label, 
.contact-textarea:valid+.contact-label {
  font-size: clamp(13px, 1.3vw, 16px);
  color: #777;
  top: -20px;
  transition: all .225s ease;
}

.submit-btn {
  background-color: var(--primaryBackground);
  filter: drop-shadow(2px 2px 3px #0003);
  color: #fff;
  font-family: "Poppins",sans-serif;
  font-size: clamp(16px, 1.6vw, 18px);
  display: block;
  padding: 12px 20px;
  margin: 2px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.submit-btn:hover {
  transform: scale(1.1, 1.1);
}

.submit-btn:active {
  transform: scale(1.1, 1.1);
  filter: sepia(0.5);
}

.contact-heading {
  color: var(--tertH1);
}

footer {
  background-color: #222222;
}
.footer-desc {
  padding: 15px;
  color: var(--primaryText);
  text-align: center;
}
/* -------------------------------------------------------------------------------------- */

@media screen and (max-width:850px){
body {
    overflow-x: hidden;
    position: relative;
}

.waves {
  height:40px;
  min-height:40px;
}

/* theme picker */

.controls, .theme-picker > fieldset {
  padding: 0.55rem;
}

.theme-picker input[type="radio"] {
  outline-offset: 2px;
}

/* Nav section */

.navbar {
  z-index: 99999;
  justify-content: space-between;
  padding-left: 3%;
}

.nav-links {
  /* for glassmorphism effect */
  background: var(--navbar);
  border-left: 2.5px solid rgba(255,255,255,0.1);
  z-index: 1000 !important;
  position: fixed;
  right: 0px;
  height:100vh;
  top: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width:50%;
  transform: translateX(100%);
  transition: all 0.45s ease-in;
}

.nav-links {
  height: 80vh;
}

.nav-active {
  justify-content: space-evenly;
  transform: translateX(0%);
  box-shadow: -15px 10px 50px rgb(0 0 0 / 30%);
}

.nav-links li {
    opacity: 0;
}

.nav-links a {
    padding: 5px;
    color: white;
}

.burger {
    display: block;
}

/* hero section */

.pic-background {
  height: max-content;
}

.hero-container{
    display: flex;
    flex-direction: column;
    height:max-content;
    background-position: 0%;
  }

.content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
    margin:0 10vw;
  }
  
.intro {
    width:max-content;
    /* font-size: 8.5vw; */
    line-height: 1.5;
    font-weight: 450;
    font-style: italic;
  }
  
.intro-container {
  align-items: center;
}

.carousel .change_outer .element {
  text-align: center;
}
  
.all-btns {
    justify-content: space-around;
  }

.side {
  /* width: 65vw; */
  width: 36vw;
  height: 36vw;
  margin: 35px 0;
  overflow: hidden;
  }

.picture {
  border-radius: 296370px;
  width: 100%;
}

.hero-container {
  padding-top: 80px;
}

/* about section */

.about {
  padding:45px;
}

.about-section {
  flex-direction: column;
  padding: 50px 35px 35px 35px;
}

.about-side {
  margin:30px 0 0 0;
  align-items: center;
  justify-content: center;
}

/* Skills section */

.skills-container {
  width: 80vw;
}

.skills-type-container {
  width:clamp(140px,180px,35vw);
}

/* projects section */

.card , .card.secondary{
  width: 450px;
  height: 350px;
  border-radius: 6px;
}

.card .additional, .card.secondary .additional {
  position: absolute;
  width: 50px;
  height: 100%;
}

.card  .additional:hover,
 .card.secondary .additional:hover {
  width: 100%;
}

.card .additional .image-card, .card.secondary .additional .image-card {
  width: 50px;
  height: 100%;
}

.card .additional .more-info,.card.secondary .additional .more-info {
  width: 400px;
  height: 100%;
  left: 50px;
}

.card .additional .image-card i {
  font-size:2.5rem;
}

.card .general, .card.secondary .general, .card.secondary .general, .card.secondary .general {
  width: 400px;
  height: 100%;
  left: 50px;
  top:0;
}

/* contact section */
.contact-links, .contact-form-wrapper {
  width: 100%;
}

.contact-links {
  border-radius: 10px 10px 0 0;
}

.contact-form-wrapper {
  border-radius: 0 0 10px 10px;
}

}

/* -------------------------------------------------------------------------------------- */

@media screen and (max-width:450px) {
  html {
    overflow-x: hidden;
  }

  .hero-container {
    padding-top: 120px;
  }

  html,.about-section, .skills-section,.hero-container,.project-display-section {
    width: 100vw;
  }

  header {
    width: 100vw;
    /* overflow: hidden; */
  }

  .heading {
    font-size: 36px;
  }

  .waves {
    height: 45px;
  }

  .side {
    width: 60vw;
    height: 60vw;
  }

  span.name {
    display: block;
    font-size: 3rem;
  }

  .skills-type-container {
    width: 80%;
  }

.custom-btn {
  height: 40px;
  width: 100px;
}

  .element {
    font-size: 20px;
  }

  .link .fa::before, .link .fa-brands::before, .link .fa-solid::before {
    height: 25px;
    width:25px;
  }

.card, .card.secondary {
  width: 80%;
  height: 30rem;
  border-radius: 6px;
  /* overflow: hidden; */
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.card .additional, .card.secondary .additional {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 30%;
  transition:height 0.4s;
  overflow: hidden;
  z-index: 2;
}

.card .additional:hover, .card.secondary .additional:hover {
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.card .additional .image-card,
.card.secondary .additional .image-card {
  width: 40%;
  height: 40%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.card .additional .image-card i,
.card.secondary .additional .image-card i {
  font-size: 5rem;
  padding: 15% 0 0 0;
}

.card .additional .image-card::after,
.card.secondary .additional .image-card::after {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  right: 0;
  height: 80%;
  border-left: 2px solid rgba(0,0,0,0.025);
}

.card .additional .more-info,
.card.secondary .additional .more-info {
  width: 100%;
  float:inline-start;
  position: absolute;
  top: 9rem;
  left: 0;
  height: 21rem;
}

.card .additional .coords-container,
 .card.secondary .additional .coords-container  {
  margin-top: 15%;
}

.card .additional .stats .project-link i, .card .general .stats .project-link i,
.card.secondary .additional .stats .project-link i, .card.secondary .general .stats .project-link i{
  font-size: 20px;
}

.card .additional .coords-container .coords,
.card.secondary .additional .coords-container .coords {
  margin: 0 0.5rem;
}

.card .additional .stats,
.card .general .stats,
.card.secondary .additional .stats,
.card.secondary .general .stats {
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}

.card .additional .stats > div,
.card .general .stats > div
.card.secondary .additional .stats > div,
.card.secondary .general .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats .project-link i,
 .card .general .stats .project-link i,
 .card.secondary .additional .stats .project-link i,
 .card.secondary .general .stats .project-link i  {
  display: block;
}

.card .additional .stats div.title,
.card .general .stats div.title {
  font-size: 0.75rem;
}

.card .general,
.card.secondary .general {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 30%;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.card .general .more {
  bottom: 5rem;
  font-size: 0.9em;
}

.timeline-section {
  height: 1700px;
  justify-content: unset;
}

.timeline.heading {
  margin: 0;
  font-size: 2.5rem;
}

.timeline-container {
  scale: 0.8;
  transform: translateY(-16%) translateX(clamp(-9%,-10%,-20%));
}

}
